<!DOCTYPE html>
<html>
  <head>
    <%- metaTags -%>
    <link href="/manifest.json" rel="manifest">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="Sample Application" name="apple-mobile-web-app-title">
    <%# load any CSS fonts just below this, curl -vH "User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) Gecko/20100101 Firefox/27.0" 'https://fonts.googleapis.com/css?family=Font:400,600,700|Another:400' | curl -X POST -s --data-urlencode 'input@-' https://cssminifier.com/raw %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic%7CRoboto+Condensed:400,700" />
    <style>
      <%- cssContent %>
    </style>
  </head>
  <body>
    <div id="container"><%_ if(contentTemplate) { _%><%- include(contentTemplate) -%><%_ }else { _%><%- content %><%_ } _%></div>
    <%_ if(disableAjaxNavigation) { _%>
      <script type="text/javascript">window.disableAjaxNavigation = true;</script>
    <%_ } _%>
    <script type="text/javascript" src="<%= assetPath("app.js") %>" id="app-js" async></script>
   </body>
</html>
