<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%_ const cssPath = assetPath("app.css") _%>
    <%_ if(cssPath) { _%>
      <link rel="stylesheet" type="text/css" href="<%= cssPath %>" />
    <%_ } _%>
    <link href="/manifest.json" rel="manifest">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="Sample Application" name="apple-mobile-web-app-title">
    <%-metadata.join("\n"); %>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
  </head>

  <body>
    <div class="container">
      <div id="header-container">
        <nav id="main-navigation">
          <ul class="main-navigation">
            <li><a href="#hide-navigation" class="toggle"><span></span></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/politics">Politics</a></li>
            <li><a href="/culture/2016/04/07/5-Times-Joey-was-more-thoughtful-than-his-other-friends">Story</a></li>
          </ul>
        </nav>
      </div>
      <header>
        <a class="toggle" href="#main-navigation" title="menu"><span></span></a>
        <h1 class="title"><%= title %></h1>
        <div id='breaking-news-container'></div>
      </header>
      <div id="container"><%_ if(contentTemplate) { _%><%- include(contentTemplate) -%><%_ }else { _%><%- content %><%_ } _%></div>
    </div>
    <%_ if(disableAjaxNavigation) { _%>
    <script type="text/javascript">window.disableAjaxNavigation = true;</script>
    <%_ } _%>
    <script type="text/javascript" src="<%= assetPath("app.js") %>" async></script>
   </body>
</html>
