<!DOCTYPE html>
<html>
  <head>
    <%- metaTags -%>
    <link href="/manifest.json" rel="manifest">
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="<%- title -%>" name="apple-mobile-web-app-title">
    <link rel="preconnect dns-prefetch" href="https://prod-analytics.qlitics.com" crossorigin />
    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin />

    <%# load any CSS fonts just below this, curl -vH "User-Agent: Mozilla/5.0 (Windows NT 6.1; WOW64; rv:27.0) Gecko/20100101 Firefox/27.0" 'https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700' | curl -X POST -s --data-urlencode 'input@-' https://cssminifier.com/raw %>
    <style>
      @font-face{font-display:swap;font-family:Lato;font-style:normal;font-weight:400;src:local('Lato Regular'),local('Lato-Regular'),url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWA.woff) format('woff')}@font-face{font-display:swap;font-family:Lato;font-style:normal;font-weight:700;src:local('Lato Bold'),local('Lato-Bold'),url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHw.woff) format('woff')}@font-face{font-display:swap;font-family:Roboto;font-style:normal;font-weight:400;src:local('Roboto'),local('Roboto-Regular'),url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format('woff')}@font-face{font-display:swap;font-family:Roboto;font-style:normal;font-weight:700;src:local('Roboto Bold'),local('Roboto-Bold'),url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format('woff')}
    </style>
    <style>
      :root { <%_ Object.entries(fontFace.fontSettings).map(([cssVar, {fallback}]) => { _%> --<%= cssVar %>: <%- fallback _%>;<%_ }) _%> }
      body.fonts-loaded { <%_ Object.entries(fontFace.fontSettings).map(([cssVar, {value}]) => { _%> --<%= cssVar %>: <%- value _%>;<%_ }) _%> }
    </style>

    <style>
      <%- cssContent %>
    </style>
    <%_ if(pageChunk) { _%>
    <%_ pageChunk.cssFiles.map(cssFile => {_%>
      <style data-href="<%= cssFile.path %>"><%- cssFile.content %></style>
    <%_ }) _%>
    <%_ pageChunk.jsPaths.map(jsPath => {_%>
      <link rel="preload" href="<%= jsPath %>" as="script">
    <%_ }) _%>
    <%_ } _%>
  </head>

  <body>
    <div class="container">
      <header id="header"><%- navbar %></header>
      <div id='breaking-news-container'><%- breakingNews -%></div>
      <div id="container"><%_ if(contentTemplate) { _%><%- include(contentTemplate) -%><%_ }else { _%><%- content %><%_ } _%></div>
      <footer id="footer"><%- footer %></footer>
    </div>
    <%_ if(disableAjaxNavigation) { _%>
    <script type="text/javascript">window.disableAjaxNavigation = true;</script>
    <%_ } _%>
    <script>
      if(!window.fetch || !window.Array.prototype.map || !window.Promise || !window.URLSearchParams || !window.IntersectionObserver || !window.Set) {
        s = document.createElement('script');
        s.type = 'text/javascript';
        s.src = 'https://cdn.polyfill.io/v2/polyfill.min.js?features=default,IntersectionObserver,fetch';
        document.getElementsByTagName('head')[0].appendChild(s);
      }
    </script>
    <script type="text/javascript">
      <%- fontJsContent %>
      window.loadFonts(<%- JSON.stringify(fontFace.preloadFonts) %>, 'fonts-loaded');
    </script>
    <script type="application/json" id="initial-page"><%- JSON.stringify({config: store.getState().qt.config}) -%></script>
    <script type="text/javascript" src="<%= assetPath("app.js") %>" id="app-js" async></script>
   </body>
</html>
